#data is divided into 

input data (x)
and 
target data (y)

# we didvide data for training and testing the model

In [2]:
 import numpy as numpy
import pandas as pd

In [3]:
df = pd.read_csv("placement.csv")

In [4]:
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [7]:
df.shape

(100, 3)

In [8]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [10]:
x= df.drop(columns = ["placed"]) # input data
y = df["placed"] # target data

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                        y,
                                                        test_size =0.2,
                                                        random_state= 42)

In [16]:
print("total dataframe shape : " , df.shape)
print("------------------------------------")
print("------------------------------------")


print("input data(x) shape :" , x.shape)
print("x_train data shape :" , x_train.shape)
print("x_test data shape" , x_test.shape)
print("------------------------------------")

print("target data(x) shape :" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape" , y_test.shape)

total dataframe shape :  (100, 3)
------------------------------------
------------------------------------
input data(x) shape : (100, 2)
x_train data shape : (80, 2)
x_test data shape (20, 2)
------------------------------------
target data(x) shape : (100,)
y_train data shape : (80,)
y_test data shape (20,)

In [17]:
#case -2

In [18]:
df = pd.read_csv("covid_toy.csv")

In [19]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [20]:
# this data has missing values in fever column
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [21]:
from sklearn.impute import SimpleImputer

In [29]:
si = SimpleImputer(strategy = "mean")              # changes all null vlaues to mean value

In [25]:
df["fever"] = si.fit_transform(df[["fever"]])

In [26]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [28]:
df.head()    #input = col[1,2,3,4,5] , target = [has_covid]

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [30]:
df.shape

(100, 6)

In [31]:
x= df.drop(columns = ["has_covid"])
y= df["has_covid"]

In [32]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                        y,
                                                        test_size =0.2,
                                                        random_state= 42)

In [33]:
print("total dataframe shape : " , df.shape)
print("------------------------------------")
print("------------------------------------")


print("input data(x) shape :" , x.shape)
print("x_train data shape :" , x_train.shape)
print("x_test data shape" , x_test.shape)
print("------------------------------------")

print("target data(x) shape :" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape" , y_test.shape)

total dataframe shape :  (100, 6)
------------------------------------
------------------------------------
input data(x) shape : (100, 5)
x_train data shape : (80, 5)
x_test data shape (20, 5)
------------------------------------
target data(x) shape : (100,)
y_train data shape : (80,)
y_test data shape (20,)

In [34]:
# df = (100,6) = x(100,5) , y(100,1)
# x_train = (80,5) x_terst= (20,5)
# y_train = (80,1) y_terst= (20,1)

In [ ]:
#case -3

In [35]:
df = pd.read_csv("tips.csv")

In [36]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [41]:
df.shape

(244, 7)

In [38]:
x = df.drop(columns = ["size"]) # input data
y = df["size"] # target data

In [39]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                        y,
                                                        test_size =0.2,
                                                        random_state= 42)

In [40]:
print("total dataframe shape : " , df.shape)
print("------------------------------------")
print("------------------------------------")


print("input data(x) shape :" , x.shape)
print("x_train data shape :" , x_train.shape)
print("x_test data shape" , x_test.shape)
print("------------------------------------")

print("target data(x) shape :" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape" , y_test.shape)

total dataframe shape :  (244, 7)
------------------------------------
------------------------------------
input data(x) shape : (244, 6)
x_train data shape : (195, 6)
x_test data shape (49, 6)
------------------------------------
target data(x) shape : (244,)
y_train data shape : (195,)
y_test data shape (49,)