### import pandas as pd

In [4]:
df = pd.read_csv("flipkart.csv")

In [5]:
df.head()

,COMPANY,ARTICLE,PRICE,DISCOUNT
0,TRIPR,Men Solid Henley Neck Cotton Blend Dark Green ...,"1,999",86% off
1,TRIPR,Men Printed Hooded Neck Cotton Blend Black T-S...,"1,399",82% off
2,THE BEAR HOUSE,Pack of 2 Men Checkered Polo Neck Cotton Blend...,"1,290",40% off
3,sti,Men Solid Polo Neck Cotton Blend Pink T-Shirt,999,85% off
4,KAEZRI,Men Solid Round Neck Cotton Blend Black T-Shirt,"1,999",82% off

In [6]:
df.tail()

,COMPANY,ARTICLE,PRICE,DISCOUNT
25,TRIPR,Men Geometric Print Polo Neck Pure Cotton Blac...,"1,499",74% off
26,VeBNoR,Pack of 4 Men Solid Round Neck Polyester Multi...,888,74% off
27,MAX,Men Solid Round Neck Polycotton Maroon T-Shirt,999,78% off
28,ZEN1FASHION,Men Printed Round Neck Pure Cotton Black T-Shirt,"1,299",77% off
29,BLIVE,Men Solid Round Neck Polyester Green T-Shirt,999,73% off

In [7]:
df.sample(4)

,COMPANY,ARTICLE,PRICE,DISCOUNT
22,THE BEAR HOUSE,Men Solid Round Neck Pure Cotton Purple T-Shirt,"1,399",85% off
5,TRIPR,Men Solid Mandarin Collar Cotton Blend Dark Gr...,"1,999",85% off
17,MAX,Men Printed Polo Neck Polyester Green T-Shirt,699,77% off
6,VeBNoR,Pack of 4 Men Solid Round Neck Polyester Multi...,999,60% off

In [8]:
df.describe()

,COMPANY,ARTICLE,PRICE,DISCOUNT
count,30,30,30,30
unique,8,28,18,19
top,TRIPR,Pack of 4 Men Solid Round Neck Polyester Multi...,999,85% off
freq,9,2,7,4

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COMPANY   30 non-null     object
 1   ARTICLE   30 non-null     object
 2   PRICE     30 non-null     object
 3   DISCOUNT  30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [10]:
df.loc[3:5,["ARTICLE","PRICE"]]

                                             ARTICLE  PRICE
3      Men Solid Polo Neck Cotton Blend Pink T-Shirt    999
4    Men Solid Round Neck Cotton Blend Black T-Shirt  1,999
5  Men Solid Mandarin Collar Cotton Blend Dark Gr...  1,999

In [11]:
df.iloc[3:5,[0,3]]

  COMPANY DISCOUNT
3     sti  85% off
4  KAEZRI  82% off

In [19]:
df['PRICE'][1]=12333

In [20]:
df['PRICE'][1]

12333

In [21]:
df.to_csv('flipkart1.csv', index = False)