In [1]:
# feature engineering = process in which we will set our data in an appropriate format 
#so that we can send it to model trainniig

# noraml disribution = in this distribution , points are equal(left side and right sid) from the centroid

# mean centroid = mean = 0
#standard deviation= 1

# std dev = mean =0 , Std = 1

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x = df.drop(columns = ["placed"]) # input data

In [6]:
y = df["placed"] # target data

In [8]:
x_train , x_test , y_train , y_test =  train_test_split(x,y , test_size = 0.2 , random_state = 42)

In [9]:
print("total data shape" , df.shape)
print("input dta shape" , x.shape)
print("input data shape(x_train):" , x_train.shape)
print("input data shape(x_tarin)" , x_test.shape)

print("input dta shape" , y.shape)
print("input data shape(x_train):" , y_train.shape)
print("input data shape(x_tarin)" , y_test.shape)

total data shape (100, 3)
input dta shape (100, 2)
input data shape(x_train): (80, 2)
input data shape(x_tarin) (20, 2)
input dta shape (100,)
input data shape(x_train): (80,)
input data shape(x_tarin) (20,)

In [12]:
np.round(x_train.describe() , 2)         # here the 2 represents the num of valus after the decimal

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [13]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [16]:
x_train_sc = sc.fit_transform(x_train) # fit means learn the parameter and tranform mans apply on the data

In [17]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [18]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05